fastapi[all]==0.104.1
uvicorn==0.24.0
gunicorn
sqlalchemy==2.0.23
alembic==1.12.1
psycopg2-binary==2.9.9
python-dotenv==1.0.0
pydantic==2.5.2
pydantic-settings==2.1.0
google-cloud-storage==2.10.0
python-multipart==0.0.6
cloud-sql-python-connector[pg8000]==1.8.0
asyncpg==0.29.0 
authlib
python-jose